body {
    background: linear-gradient(135deg, #4354E0 0%, #9943E0 100%);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container {
    animation: fadeIn 1s ease-out;
}
.cg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    animation: slideUp 0.8s ease-out;
}
.cg img {
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite;
}
h1 {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    margin-bottom: 1.5rem;
    animation: fadeInDown 0.8s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    letter-spacing: 1px;
}
p {
        font-family: 'Playfair Display', serif;
        color: #ffffff;
}
.form-control {
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    transition: all 0.3s ease;
    font-weight: 300;
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.3);
}
.btn-primary {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    transition: all 0.3s ease;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-primary a {
    color: white;
    text-decoration: none;
}
label {
    color: #ffffff;
    font-weight: 400;
}
.my-2 {
    color: #ffffff;
    font-weight: 300;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes fadeInDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
.button-container {
    display: flex;
    justify-content: center;
}
.button-container .btn {
    width: 48%;
}
.signup-btn {
    background-color:rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

.signup-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}